.image {
  width: 100%;
}

.link {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #d6225c;
  color: white;
  text-decoration: none;
  border-radius: 1rem;
  margin: 1rem auto;
  letter-spacing: 0.05em;
}

.demo {
  margin: 2rem auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
